<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Action</title>

    <style>
        body {
            min-width: 300px;
        }
    </style>

</head>
<body>
  <h3>Green-Time<h3>
  <div class="tab">
    <button class="tablink" id="actionBtn" data-page="action">Action</button>
    <button class="tablink" id="optionsBtn" data-page="options">Options</button>
  </div>
  <!-- tabs for options and page actions -->
  <div id="action" class="tabcontent" style="display:block">
    <object type="text/html" data="../../views/action.html"></object>
  </div>

  <div id="options" class="tabcontent" style="display:none">
    <object type="text/html" data="../../views/options.html"></object>
  </div>

  <script src="../scripts/core/compatibility.js"></script>
  <script src="../scripts/extend/popup-menu.js"></script>
</body>
</html>
