<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Action</title>

</head>
<body>
  <div class="tab">
    <button class="tablink" id="actionBtn" data-page="action">Action</button>
    <button class="tablink" id="optionsBtn" data-page="options">Options</button>
  </div>
  <!-- tabs for options and page actions -->
  <div id="action" class="tabcontent" style="display:block">
    <h3>Action</h3>
    <p>Here goes immediate actions..</p>
  </div>

  <div id="options" class="tabcontent" style="display:none">
    <h3>Options</h3>
    <p>Here goes addon options..</p>
  </div>

  <script src="../scripts/core/compatibility.js"></script>
  <script src="../scripts/extend/popup-menu.js"></script>
</body>
</html>
